@model MvcMusicStore.Models.Album

<h3>
    <i>Delete Confirmation</i>
</h3>
<br />

<p>Are you sure you want to delete the album titled <b>@Model.Title</b>?</p>

<a 
    href="@Url.Action("DeleteAlbum", "StoreManager", 
    new { AlbumId = @Model.AlbumId })"
> 
    Delete
</a>

<br />

<a href="@Url.Action("Index", "StoreManager")"> 
    Back to List
</a>